

<h1>delete your selected ticket:</h1>
  <h3>Ticket number: </h3>
  <p> tbd: ticket details.
  enter delete and send
    response showing it is deleted, new ticket count
    do another one button
  </p>

  <a href="/tickets">Back to Tickets</a>
