<html>
  <body>
    <h1><%= "Details of" @ticket[subject] %></h1>
    <tbody>
     <% @ticket.each do |row| %>
      <tr>
        <% row.each do |value| %>
         <td><%= value %></td>
        <%end%>
      </tr>
     <% end %>
    </tbody>

  </body>
</html>
