

<h1>Update your selected ticket:</h1>
  <h3>Ticket number: </h3>
  <p> tbd: ticket details. Update history.
    button to update something.
    enter update and send
    response showing it is updated or error
    do another one button
  </p>

  <a href="/tickets">Back to Tickets</a>
